.text{
    margin-right: 10px; 
    
}
.container{
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.searchInput{
    
    border-radius: 5px;
    /* // el padding es para que no se pase texto sobre el boton de busqueda */
    padding: 5px 30px 5px 10px;
    margin-bottom: 5px;
}